<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!-- Spring Bean Configuration file, typically named beans.xml 
or context.xml
Configuration metadata for our application context -->

	<!-- Configuring beans and wiring properties with XML -->
	
	<bean id="thisIsABean" class="com.ex.hellospring.HelloWorld" scope="prototype">
			<!--  spring supports both constructor and setter injection 
				you may also see "interface injection" but the spring framework
				 does not support this  -->
	 
	 		<!-- setter injection -->
	 <property name="message" value="This is setter injection! Welcome to spring! ooh ahhhhhh"/>

		<!-- constructor injection 
		<constructor-arg name="message" value="This is constructor injection"/>-->
	</bean>
	
	<bean id="superBean" class="com.ex.hellospring.ParentBean">
		<property name="hello" ref="thisIsABean" />
	</bean>
	
	
	<!-- Autowiring with XML 
	
	<bean id="employee" class="com.ex.autowiring.Employee" autowire="byName"></bean>
	
	<bean id="department" class="com.ex.autowiring.Department"></bean>
	
	-->
	
	<!-- Autowiring with Annotations... must configure or "turn on" annotations so 
	that Springs IoC container knows where to search for annotations  -->
	<context:annotation-config />
	<context:component-scan base-package="com.ex.autowiring" />

	<bean id="employee" class="com.ex.autowiring.Employee" autowiring="byType"></bean>

	<bean id="department" class="com.ex.autowiring.Department"></bean>

</beans>
