
<div>

	<h1>Create Reimbursement Request</h1>
	<input type="number" id="amount" placeholder="Amount"> <input
		type="text" id="description" placeholder="Description"> <input
		type="text" id="type" placeholder="Type">
	<button id="createReimBtn">Create Reimbursement</button>

	<script>
		$(() => {
			loadReimbursements()
			$('#createReimBtn').on('click', createReim);
		})
		
 		function createReim () {
			console.log('created')
			var time = new Date().getTime()
			var obj = {
				amount: $('#amount').val(),
				submitted: time,
				description: $('#description').val(),
				type_id: $('#type').val()
			}
			var toSend = JSON.stringify(obj);
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4){
					loadReimbursements2();
				}
			}
			xhr.open("POST", "reimbursement", true);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.send(toSend);
		}
		
		function loadReimbursements () {
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status == 200){
					reimbursements = JSON.parse(xhr.responseText);
					for(let r of reimbursements) {
						reimbursementList(r)
					}
				}
			}
			xhr.open("GET", "employee");
			xhr.send();
		}
		
		function loadReimbursements2 () {
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status == 200){
					reimbursements = JSON.parse(xhr.responseText);
					let r = reimbursements.pop()
					reimbursementList(r)
				}
			}
			xhr.open("GET", "employee");
			xhr.send();
		}
		
		function reimbursementList (r) {
			console.log('generating list')
			var data = $(`
				<tr>
					<th scope="row">${r.id}</th>
					<td>${r.amount}</td>
					<td>${r.submitted}</td>
					<td>${r.resolved}</td>
					<td>${r.description}</td>
					<td>${r.author}</td>
					<td>${r.resolver}</td>
					<td>${r.status_id}</td>
					<td>${r.type_id}</td>
					<td>
						<button class="fa fa-check"></button>
						<button class="fa fa-times"></button>
					</td>
				</tr>
			`)
			$('#reimbursementsList').append(data);
		}
	</script>


	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Amount</th>
				<th scope="col">Submitted</th>
				<th scope="col">Resolved</th>
				<th scope="col">Description</th>
				<th scope="col">Author</th>
				<th scope="col">Resolver</th>
				<th scope="col">Status</th>
				<th scope="col">Type</th>
				<th scope="col">Approve/Deny</th>
			</tr>
		</thead>
		<tbody id='reimbursementsList'>

		</tbody>
	</table>


</div>