<!-- <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Reimbursement Application</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">

			<a class="nav-item nav-link" id="homeNav">Home</a> <a
				class="nav-item nav-link" id="StatusNav">Status</a> <a
				class="nav-item nav-link" id="ManagerNav">Manager</a> <a
				class="nav-item nav-link" id="loginNav">Login</a>

		</div>
	</div>
</nav> -->
<div>
	<h3>All Reimbursement</h3>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Amount</th>
				<th scope="col">Submitted</th>
				<th scope="col">Resolved</th>
				<th scope="col">Description</th>
				<th scope="col">Author</th>
				<th scope="col">Resolver</th>
				<th scope="col">Status</th>
				<th scope="col">Type</th>
				<th scope="col">Approve/Deny</th>
			</tr>
		</thead>
		<tbody id=managerReimbursementList>

		</tbody>
	</table>

</div>
