<div>

    <input type="number" id="swID" class="form-control col-4">
    <h5>Star Wars Character: <span id="name"></span></h5>
    <h5>Height: <span id="height"></span></h5>
    <h5>Mass: <span id="mass"></span></h5>
    <h5>Hair Color: <span id="haircolor"></span></h5>
    <h5>Skin Color: <span id="skincolor"></span></h5>
    <h5>Eye Color: <span id="eyecolor"></span></h5>
    <h5>Birth Year: <span id="birthday"></span></h5>
    <h5>Gender: <span id="gender"></span></h5>
    <h5>Home World: <span id="homeworld"></span></h5>
    <button id="go" class="btn btn-primary">Go!</button>
</div>