<div>

<h3>New Reimbursement</h3>
<ul id="reimbList">
</ul>

<br><hr><br>
<input type="text" id="newReimbursement" class="form-control col-4" placeholder="Submittion">
<button class="btn btn-submit" id="addSub">submit</button>
</div>
<div>
<input type="text" id="amount" class="form-control col-4" placeholder="Amount">
<button class="btn btn-submit" id="addAmount">submit</button>
</div>
<div>
<input type="text" id="subType" class="form-control col-4" placeholder="Select type">
<button class="btn btn-submit" id="selectType">Select</button>
</div>