<div class = "jumbotron">
<form>
  <div class="form-group">
    <label for="swType">Star Wars Data Type</label>
    <select class="form-control" id="dataType">
      <option value="planets">Planets</option>
      <option value="starships">Spaceships</option>
      <option value="vechicles">Vehicles</option>
      <option value="people">People</option>
      <option value="films">Films</option>
      <option value="species">Species</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Type ID SW">Star Wars Type ID</label>
    <input type = "number" id="typeID" placeholder = "Enter a number">
  </div>
  <div class = "form-group">
  	<button id ="info" class = "btn btn-primary">Show Info</button>
  </div>
  <div class = "form-group">
  	<h6>May the force be with you <span id = "output" ></span></h6>
  </div>
</form>
</div>