<div>

<h1 class="display-3">All Approved Requests</h1>
<table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
                <th scope="col">Type ID</th>
            </tr>
        </thead>
        <tbody id='AllApprovedRequests'>
        </tbody>
</table>
<br>
<br>
<br>

<button class="btn btn-submit" id="PendingButton">Show Pending</button>
<button class="btn btn-submit" id="DeniedButton">Show Denied</button>
</div>