<div>

<h1 class="display-3">All Pending Requests</h1>
<table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
                <th scope="col">Approve</th>
                <th scope="col">Denied</th>
            </tr>
        </thead>
        <tbody id='AllPendingRequests'>
        </tbody>
</table>
<br>
<br>
<br>

<button class="btn btn-submit" id="ApprovedButton">Show Approved</button>
<button class="btn btn-submit" id="DeniedButton">Show Denied</button>
</div>