<div class="jumbotron">
	<img src="images/nasa-logo.png" style="width:400px">
  <h1 class="display-4">Ola, Bienvenue, Velkommen, Hi!</h1>
  <p class="lead">Welcome to the Nasa Post of the Day</p>
  <hr class="my-4">
  <p>This site requires you to key in your name for greeting purposes.</p>  
  <input type="text" class="form-control form-control-sm" id="name" placeholder="Your name">
  
  <br>
  <button type="button" id="view_button" class="btn btn-outline-primary">Learn More...</button>
</div>

<script>
$('#view_button').on('click', doSummary);
</script>