<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- Configuration details for Hibernate application -->
<hibernate-configuration>
	<session-factory>
		<!-- Database details -->
		<property name="driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@oct22-java-demo.cvwoqxsk8czc.us-east-1.rds.amazonaws.com:1521/ORCL</property>
		<property name="hibernate.connection.username">oct22_java_demo</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		
		<!-- Create/update/etc schema
		create :- create the schema, the data previously present 
					(if there) in the schema is lost
		update:- update the schema with the given values.
		validate:- validate the schema. It makes no change in the DB.
		create-drop:- create the schema with destroying the data 
				previously present(if there). It also drop the 
				database schema when the SessionFactory is closed.
		 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- show HQL commands as they're carried out in the console -->
		<property name="show_sql">true</property>
 
		<!-- Conigure L2 cache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.connection.release_mode">on_close</property>
		<property name="hibernate.connection.isolation">8</property> 
		
		<!-- classes to be configured via annotations -->
		<mapping class="com.ex.models.User"/>
		<mapping class="com.ex.models.Post"/>

		<!-- classes to be configured via XML  -->
		<mapping resource="TestMapping.hbm.xml"/>

	</session-factory>
</hibernate-configuration>