<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Amount</th>
				<th>Submitted</th>
				<th>Resolved</th>
				<th>Description</th>
				<th>Receipt</th>
				<th>Author</th>
				<th>Resolver</th>
				<th>Status</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody id="table">

		</tbody>
	</table>
	<br>
	<br> <label>Amount</label> <input type="number" id="reAmount">
	<label>Type</label>
	 <select id="reType">
		<option value="0">Lodging</option>
		<option value="1">Travel</option>
		<option value="2">Food</option>
		<option value="3">Other</option>
	</select> <label>Description</label> <input type="text" id="reDes">
	<button id="newRe">Make new reimbursement</button>
</div>